text { font-family: Roboto, sans-serif; font-size: 7.5pt; fill: grey; }

path,
circle {
  stroke: black;
}

.axis line {
  stroke: lightgrey;
}

.axis text {
  fill: lightgrey;
}

.axis path {
  visibility: hidden;
}
