text { font-family: Roboto, sans-serif; font-size: 7.5pt; fill: grey; }

path,
circle {
  stroke: black;
}

.axis line {
  opacity: 0.1;
}
.axis text {
  opacity: 0.5;
}

.axis path {
  visibility: hidden;
}
